In [5]:
from pprint import pprint
import sqlite3 as sql

In [2]:
database = 'sqlite_db_pythonsqlite.db'
connection = sql.connect(database)

In [18]:
cursor = connection.execute(
    '''SELECT rev.name, sum(rev.revenue) as totalrevenue
     FROM (SELECT b.facid, name,
                CASE WHEN memid = 0 THEN (guestcost*slots)
                WHEN memid != 0 THEN (membercost*slots) 
                END AS revenue
            FROM Bookings as b
            INNER JOIN Facilities as f
            ON b.facid = f.facid) as rev
     GROUP BY rev.name
     HAVING totalrevenue < 1000
     ORDER BY totalrevenue
''')
results = cursor.fetchall()
pprint(results)

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [28]:
cursor = connection.execute(
    """SELECT surname || ', ' || firstname as membername, recommendedby
        FROM Members
        WHERE recommendedby != '' """)
results = cursor.fetchall()
pprint(results)

[('Joplette, Janice', '1'),
 ('Butters, Gerald', '1'),
 ('Dare, Nancy', '4'),
 ('Boothe, Tim', '3'),
 ('Stibbons, Ponder', '6'),
 ('Owen, Charles', '1'),
 ('Jones, David', '4'),
 ('Baker, Anne', '9'),
 ('Smith, Jack', '1'),
 ('Bader, Florence', '9'),
 ('Baker, Timothy', '13'),
 ('Pinker, David', '13'),
 ('Genting, Matthew', '5'),
 ('Mackenzie, Anna', '1'),
 ('Coplin, Joan', '16'),
 ('Sarwin, Ramnaresh', '15'),
 ('Jones, Douglas', '11'),
 ('Rumney, Henrietta', '20'),
 ('Worthington-Smyth, Henry', '2'),
 ('Purview, Millicent', '2'),
 ('Hunt, John', '30'),
 ('Crumpet, Erica', '2')]

In [46]:
cursor = connection.execute(
    """SELECT f.name, b.starttime, COUNT(strftime('%m', b.starttime))
    FROM Bookings as b
    INNER JOIN Facilities as f
    ON b.facid = f.facid
    WHERE memid != 0
    GROUP BY f.name, strftime('%m', b.starttime)
    """)
results = cursor.fetchall()
pprint(results)

[('Badminton Court', '2012-07-05 09:30:00', 51),
 ('Badminton Court', '2012-08-01 09:30:00', 132),
 ('Badminton Court', '2012-09-01 09:00:00', 161),
 ('Massage Room 1', '2012-07-03 08:00:00', 77),
 ('Massage Room 1', '2012-08-01 08:00:00', 153),
 ('Massage Room 1', '2012-09-01 08:30:00', 191),
 ('Massage Room 2', '2012-07-11 17:00:00', 4),
 ('Massage Room 2', '2012-08-01 08:30:00', 9),
 ('Massage Room 2', '2012-09-01 15:30:00', 14),
 ('Pool Table', '2012-07-03 10:00:00', 103),
 ('Pool Table', '2012-08-01 08:30:00', 272),
 ('Pool Table', '2012-09-01 10:00:00', 408),
 ('Snooker Table', '2012-07-03 19:00:00', 68),
 ('Snooker Table', '2012-08-01 12:30:00', 154),
 ('Snooker Table', '2012-09-01 08:30:00', 199),
 ('Squash Court', '2012-07-04 15:30:00', 23),
 ('Squash Court', '2012-08-01 14:30:00', 85),
 ('Squash Court', '2012-09-01 15:00:00', 87),
 ('Table Tennis', '2012-07-03 11:00:00', 48),
 ('Table Tennis', '2012-08-01 13:00:00', 143),
 ('Table Tennis', '2012-09-01 08:30:00', 194),
 ('Tennis Court 1', '2012-07-04 09:00:00', 65),
 ('Tennis Court 1', '2012-08-01 15:30:00', 111),
 ('Tennis Court 1', '2012-09-01 11:00:00', 132),
 ('Tennis Court 2', '2012-07-07 08:30:00', 41),
 ('Tennis Court 2', '2012-08-01 09:00:00', 109),
 ('Tennis Court 2', '2012-09-01 09:30:00', 126)]